
<table>
  <tr>
    <th>Token</th>
    <th>Name</th>
    <th>Confirmed?</th>
  </tr>
  <% @invitations.each do |i| %>
    <tr>
      <td><%= i.token %></td>
      <td></td>
      <td></td>
    </tr>
    <% i.guests.each do |g| %>
      <tr>
        <td></td>
        <td><%= g.first_name %> <%= g.last_name %></td>
        <td><%= g.confirmation %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<p><%= link_to "New Guest", new_guest_path %></p>

