<div class="bridal-party">
  <% if false %>
    <h2>The Bridal Party</h2>
    <p>Coming soon!</p>
  <% else %>
  <h2>Ladies First!</h2>
  <ul class="large-block-grid-4">
    <li class="main">
      <%= image_tag 'party/jihye.jpg' %>
      <div class="name">Jihye Kim</div>
      <div class="title">Maid of Honor</div>
      <p class="blurb">Medical student/researcher by day, heartbreaker by night, and Joanne's enabler since their first days of college.</p>
    </li>
    <li>
      <%= image_tag 'party/jeska.jpg' %>
      <div class="name">Jessica Cheng</div>
      <div class="title">Bridesmaid</div>
      <p class="blurb">As sweet as the macarons she bakes and has one of the few phone numbers Joanne remembers by heart.</p>
    </li>
    <li>
      <%= image_tag 'party/shinetin.jpg' %>
      <div class="name">Shinetin Tzeng</div>
      <div class="title">Bridesmaid</div>
      <p class="blurb">Brilliant dentist-to-be and secretly married to Jay Chou, despite what her "maid" status may imply...</p>
    </li>
    <li>
      <%= image_tag 'party/yeona.jpg' %>
      <div class="name">Yeona Chun</div>
      <div class="title">Bridesmaid</div>
      <p class="blurb">Unashamed taker of selfies, lover of babies, frolicker of leaves, and a true lady and sistah of the Midwest.</p>
    </li>
  </ul>

  <ul class="large-block-grid-4">
    <li class="main">
      <h2>Band of Brothers</h2>
      <%= image_tag 'party/mike.jpg' %>
      <div class="name">Michael Chen</div>
      <div class="title">Best Man</div>
      <p class="blurb"><span>Keyboard, guitar, vox</span>Accompanied Jon on the road to WoW-fueled ruin in college, and climbed back out as self-taught programmers!</p>
    </li>
    <li style="padding-top: 43px;">
      <%= image_tag 'party/craig.jpg' %>
      <div class="name">Craig Wen</div>
      <div class="title">Groomsman</div>
      <p class="blurb"><span>Electric guitar</span>Roomies after college (along with Mike), joined Jon in many late night Twilight/HSM pizza parties, and kitchen jam sessions.</p>
    </li>
    <li style="padding-top: 43px;">
      <%= image_tag 'party/sam.jpg' %>
      <div class="name">Samuel Lee</div>
      <div class="title">Groomsman</div>
      <p class="blurb"><span>Bass, guitar, vox</span>Bonded on the worship team and Christmas Concert band, widely known as founder of PERM (Praise Efficacy Rating Metric).</p>
    </li>
    <li>
      <h2>Bro-omsman</h2>
      <%= image_tag 'party/jeremy.jpg' %>
      <div class="name">Jeremy Shih</div>
      <div class="title">The Brother</div>
      <p class="blurb">Big brother of the bride-to-be. A bit of a wild card, he'll be at our wedding in spirit at the very least!</p>
    </li>
  </ul>

  <div class="officiant row">
    <div class="large-5 large-centered columns">
      <h2>The Man of the Hour!</h2>
        <%= image_tag 'party/eugene.jpg' %>
      <div class="name">Eugene Kim</div>
      <div class="title">Officiant</div>
      <p class="blurb">Behind his Korean boy band looks and talents, Eugene is a man of endless patience and wisdom. Without him, Jon and Joanne would've never made it this far. For that, you should all give him a hug on the wedding day. <span>He loves hugs.</span></p>
    </div>
  </div>
  </div>
  <% end %>

</div>
