<div class="home">
  <div class="welcome">
    <div class="row">
      <div class="large-7 columns">
        <span class="greeting">Welcome!</span> We're so excited to celebrate with you on January 25th.
      </div>
      <div class="large-5 columns">
        <div id="countdown">
          <span class="countdown_row countdown_show4">
            <span class="countdown_section">
              <span class="countdown_amount">177</span><br>
              Days
            </span>
            <span class="countdown_section">
              <span class="countdown_amount">1</span><br>
              Hour
            </span>
            <span class="countdown_section">
              <span class="countdown_amount">52</span><br>
              Minutes
            </span>
            <span class="countdown_section">
              <span class="countdown_amount">43</span><br>
              Seconds
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <h1>Give Us Your Address!</h1>
      <%= form_for @guest, :html => { :class => 'custom' } do |f| %>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>
          <div class="large-6 columns">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :address1, 'Address 1' %>
            <%= f.text_field :address1 %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :address2, 'Address 2' %>
            <%= f.text_field :address2 %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :city %>
            <%= f.text_field :city %>
          </div>
          <div class="large-6 columns">
            <%= f.label :state %>
            <%= select_tag 'customSelect1', options_for_select(STATES) %>

          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= f.label :zipcode %>
            <%= f.text_field :zipcode %>
          </div>
          <div class="large-6 columns">
            <%= f.label :country %>
            <%= f.text_field :country, :value => 'USA' %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :notes, 'Notes or Comments?' %>
            <%= f.text_area :notes, :style => 'height: 6em;' %>
          </div>
        </div>
        <%= submit_tag 'Submit', :class => 'button' %>
      <% end %>
    </div>

    <div class="large-6 columns">
      <%= image_tag 'photobooth.jpg' %>
      <div class="subtitle">This is what we do at weddings!</div>
    </div>
  </div>

</div>

<% content_for(:javascript) do %>

<script>
  $(function() {
    var weddingDay = new Date(2014, 0, 25);
    $('#countdown').countdown({until: weddingDay});
  });
</script>

<% end %>
