<div class="proposal">
  <div class="row bottom-bordered">
    <div class="large-12 columns">

      <h1 id="proposal">The Proposal <span class="byline">by Jon</span></h1>
      <%= image_tag 'proposal/proposal.jpg', :style => 'float: right; margin: 0 0 20px 20px; width: 50%;' %>

      <div id="short-story">
        <p>I wanted the proposal to be something personal and meaningful, but NOT flashy and extravagant. So I just sat down and thought about things Joanne likes, because I figured the proposal should include some of that. Here is what I settled on: she loves beaches, and she loves love notes!</p>
        <p>Armed with this information, I took Joanne to Ipswich Beach on a beautiful Saturday. We found a nice private sandbar and settled in. Once there, I presented her a love note, and while she was reading it, I got down on one knee and proposed! She said yes! Simple and beautiful, if I do say so myself (as, more importantly, does she).</p>
        <p>Not meaty enough for you? <a href="javascript:void(0)" onclick="showLong();">Never fear!</a></p>
      </div>

      <div id="long-story" style="display:none;">
        <p>Joanne and I had just flown back from California where we spent the week in my family's house at Lake Tahoe.  We spent the week talking often of the upcoming wedding (for which I had yet to propose).  On the T going home, we saw an ad for Ipswich Beach, and Joanne mentioned that it'd be fun to go some weekend.</p>

        <p>While we were in Tahoe, I learned that Joanne finds large bodies of water to be deeply meaningful and moving for her.  I learned this because every day, she suggested we go kayaking, or go to the beach, or do SOMETHING with water.  But we never did.  And to Joanne, this was utter sacrilege.  Anyways, this was great, because I had been actively racking my brains for some clue as to where would be the most meaningful locale in which to propose, and it looked like I had finally found it!  This was less-than-ideal, however, because I hate beaches.</p>

        <p>I'm not saying that I didn't want to propose at a beach because I dislike beaches.  That'd be selfish.  The proposal, after all, is far more about her than about me!  However, I (and she) really wanted the proposal to be a surprise.  Or, as much a surprise as possible, considering that we'd discussed openly about how I should propose to her.  So I had no idea how I, the beach-hater, was supposed to suggest we go to a beach without rousing suspicion.  Because unfortunately, she knew how I felt about beaches.</p>

        <p>On the Tuesday after I got back, I received the engagement ring, and decided then that I was going to propose the following weekend.  I didn't think I could hold onto the ring for any longer than that, as it was burning a hole in my sock drawer.  I kept silent all week about the beach idea, hoping that she would bring it up herself, to which I would stay cool, and somewhat-reluctantly agree.  She didn't mention it all week, and I was starting to worry that I would have to somehow bring it up myself.  On Saturday morning we were discussing what we should do that day, and was pretty desperate by then.  Right in the depths of my despair, she mentioned going down to Ipswich!  I immediately jumped all over the idea with great enthusiasm.</p>

        <p>I did not keep my cool.  She was suspicious.</p>

        <p>After we checked the train schedule to Ipswich, we realized that if we were going to make the train in time, we would have to leave like 5 minutes ago.  On any other day, we'd just go some other weekend (especially because the forecast was saying a high chance of clouds).  But I was NOT going to hold onto that ring for another week, as I would run the risk of my sock drawer erupting in flames altogether.  So I mobilized us as fast as we could and sped out the door.</p>

        <p>Once again, not keeping my cool.  She got even more suspicious.</p>

        <p>The trip to Ipswich was pretty overcast, and I was really hoping that they'd clear up soon.  I had decided that if the weather was crummy at the beach, I would not propose then.  But we arrived at the beach, and the clouds started to part right as we stepped foot in the sand!  I found us a fairly secluded sandbar, we sat down, and I began to muster the courage to pop the question.  As I mustered, the tide actually began rising, and since we were on a sandbar with water on both sides, we were at risk of being flooded from both sides.  I saw this is a blessing, as it gave me a very finite window of time in which to propose, which cleared my head.  I quickly started building walls of sand around our spot to keep the tide out temporarily, buying me some time.  I asked Joanne to help, but she was busy taking pictures of my work.  When I was satisfied that I had bought enough time to accomplish what I came to do, I presented Joanne with a love note I had written her (she loves handwritten notes).  As she was reading (she now knows what's coming), I got the ring out of my bag.  When she finished reading, I was on one knee asking her to be my wife.  She said yes, and I slipped the ring onto her finger* :)</p>

        <p class="footnote">* I actually just handed her the ring box, which she rejected, saying that I had to put the ring on her finger myself.  Which I did.  She then proceeded to jump around squealing, without actually saying yes.  I told her she had to say yes.  She then said yes.  Give us a break, it was our first proposal!</p>

        <a href="javascript:void(0)" onclick="showShort();">TL;DR</a>
      </div>
    </div>
  </div>

  <div class="large-8 large-centered columns photos">
    <h1>The Photos <span class="byline">by Jon's iPhone</span></h1>
    <ul data-orbit>
      <li>
        <%= image_tag 'proposal/water.jpg' %>
        <div class="orbit-caption">Jon: Yes, this is the spot I will propose to my future wife...</div>
      </li>
      <li>
        <%= image_tag 'proposal/jumping.jpg' %>
        <div class="orbit-caption">Joanne jumping for joy! ...instead of saying yes.</div>
      </li>
      <li>
        <%= image_tag 'proposal/happy.jpg' %>
        <div class="orbit-caption">Happiness ensues!</div>
      </li>
      <li>
        <%= image_tag 'proposal/cheer.jpg' %>
        <div class="orbit-caption">Success!</div>
      </li>
      <li>
        <%= image_tag 'proposal/flipflops.jpg' %>
        <div class="orbit-caption">Art :)</div>
      </li>
      <li>
        <%= image_tag 'proposal/thespot.jpg' %>
        <div class="orbit-caption">Immediately after the proposal, our spot flooded. Just in time!</div>
      </li>
      <li>
        <%= image_tag 'proposal/us.jpg' %>
        <div class="orbit-caption">New fiance and fiancee!</div>
      </li>
      <li>
        <%= image_tag 'proposal/goodday.jpg' %>
        <div class="orbit-caption">Joanne: Yes, this was a good day.</div>
      </li>
    </ul>
  </div>
</div>

<% content_for(:javascript) do %>
<script>
  function showLong() {
    $('#short-story').hide();
    $('#long-story').show();
  }
  function showShort() {
    $('#short-story').show();
    $('#long-story').hide();
    window.location = '#proposal';
  }
</script>
<% end %>
