<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Jon and Joanne" %></title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <%= image_tag 'header.jpg', :style => 'width: 100%;', :id => 'header' %>
    </header>

    <div class="row">
      <div class="large-2 columns">
        <ul class='side-nav'>
          <li <% if params[:controller] == 'pages' && params[:action] == 'landing' %>class="current"<% end %>><a href="/">Home</a></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'about_us' %>class="current"<% end %>><a href="/about-us">About Us</a></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'proposal' %>class="current"<% end %>><a href="/proposal">The Proposal</a></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'bridal_party' %>class="current"<% end %>><a href="/bridal-party">Bridal Party</a></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'wedding_details' %>class="current"<% end %>><a href="/wedding-details">Wedding Details</a></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'rsvp' %>class="current"<% end %>><a href="/rsvp">RSVP</a></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'registry' %>class="current"<% end %>><a href="/registry">Registry</a></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'things_to_do' %>class="current"<% end %>><a href="/things-to-do">Things To Do</a></li>
        </ul>
      </div>

      <div class="large-10 columns">
        <%= yield %>
      </div>
    </div>

    <footer>
      an <a target="_blank" href="http://embers-and-arias.tumblr.com/">embers+arias</a> production
    </footer>

    <script>
      // $("body").find("*").css("font-family", "Comic Sans MS"); 
    </script>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>

    <%= yield(:javascript) %>

    <script>
      $('img#header').hover(function() {
        $(this).attr('src', '/assets/header2.jpg');
      }, function() {
        $(this).attr('src', '/assets/header.jpg');
      });
    </script>
    
  </body>
</html>
